.festivities {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.event-container {
  width: 20%;
  background-color: maroon;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.event-container li {
  background: maroon;
  width: 100%;
  height: 30%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid black 5px;
  transition: all 0.5s ease-in;
}

.event-container li:hover {
  background: gold;
  cursor: pointer;
}

.single-event {
  color: white;
  width: 80%;
  background-color: black;
  height: 110vh;
  display: flex;
  flex-wrap: wrap;
}
.calendar-container {
  width: 30%;
  background-color: white;
  height: 110vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}
.details {
  width: 70%;
  height: 110vh;
  background-color: maroon;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.ceremony-container {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.images {
  height: 50vh;
  background: maroon;
  display: flex;
  justify-content: center;
  align-items: center;
}
.images img {
  width: 10%;
}

.mapped {
  width: 800px;
  height: 400px;
}

@media screen and (max-width: 1024px) {
  ul.event-container {
    position: absolute;
    flex-direction: row;
    width: 100%;
    height: 15%;
    bottom: 0;
  }
  .event-container li {
    height: 100%;
    width: 48%;
  }
  .calendar-container,
  .details {
    height: 85vh;
  }
  .single-event {
    width: 100%;
    height: 85vh;
    top: 0;
    position: absolute;
  }
  .mapped {
    width: 600px;
    height: 300px;
  }
}

@media screen and (max-width: 1023px) {
  .mapped {
    width: 400px;
    height: 200px;
  }
}

@media screen and (max-width: 450px) {
  .mapped {
    width: 200px;
    height: 100px;
  }
  .ceremony-container {
    height: 80vh;
    font-size: 12px;
    text-align: center;
  }
  .calendar-container,
  .details {
    text-align: center;
    font-size: 12px;
  }
}
