.festivities {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: "Raleway", sans-serif;
  opacity: 0;
  animation: mapping 3s forwards;
}

.festivities h3 {
  color: gold;
}

.mapped {
  height: 300px;
  width: 300px;
}

.place {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 50px;
  border-bottom: white solid 3px;
  flex-wrap: wrap;
}

.place div {
  margin: 0 20px;
}

.acc {
  width: 100%;
  text-align: center;
}

.acc a {
  color: white;
}

@media screen and (max-width: 450px) {
  .place {
    padding: 50px 0;
  }
}

@keyframes mapping {
  100% {
    opacity: 0.9;
  }
}
