.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

body {
  background-color: #6c0e23; }

.details-greeter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: -1;
  background: #6c0e23;
  color: white; }

.details-greeter p {
  width: 80%;
  font-size: 30px;
  line-height: 32px; }

.parallax {
  /* The image used */
  height: 700px;
  width: 100%;
  filter: grayscale(0%);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  animation: grayed 5s forwards; }

.image-one {
  background-image: url("../images/pinky.jpg"); }

.image-two {
  background-image: url("../images/engagement.png"); }

.image-three {
  background-image: url("../images/storyone.JPG"); }

.image-four {
  background-image: url("../images/storytwo.JPG"); }

.home-text {
  /* height: 50vh; */
  text-align: center;
  padding-bottom: 6%;
  line-height: 15px; }

.home-text h1 {
  margin-left: 0; }

.home-text p {
  margin: 0 auto; }

.home .timer {
  margin-top: 3%;
  font-size: 30px;
  line-height: 30px; }

@keyframes grayed {
  0% { }
  100% {
    filter: grayscale(100%); } }

@media screen and (max-width: 1024px) {
  .details-greeter {
    top: 0; }
  .parallax {
    background-size: 1024px 682px;
    height: 70vh; }
  .home-text {
    height: 30vh; } }

@media screen and (max-width: 1023px) {
  .home-text {
    padding-bottom: 16%; } }

@media screen and (max-width: 414px) {
  .details-greeter {
    top: 0; }
  .parallax {
    height: 70vh; }
  .image-one {
    background-position: 70%; }
  .image-two {
    background-position: 57%; }
  .home-text {
    height: 30vh;
    font-size: 50%;
    line-height: 15px;
    /* padding: 12% 0; */
    padding-bottom: 40%; }
  .details-greeter p {
    font-size: 20px;
    line-height: 22px; }
  .home-text {
    padding-bottom: 40%; } }

@media only screen and (min-device-width: 320px) and (max-device-width: 1024px) {
  .parallax {
    background-attachment: unset !important;
    background-position: center top !important;
    height: 55vh; } }
