@import "colors.scss";
.rsvp {
  height: 150vh;
  background: $prime;
}
.image-rsvp {
  background-image: url("../images/rsvp.JPG");
}

.rsvp-header {
  color: $prime;
  margin: 0px;
}

.rsvp-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: $prime 3px solid;
  background: $rsvp-background;
  color: $text-color;
  font-family: "Raleway", sans-serif;
}

.rsvp-form p {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sibling {
  margin-top: 5px;
  transition: all 0.5s ease-in;
}

form input {
  background: $rsvp-background;
  border-color: $rsvp-background;
  color: $prime;
  text-align: center;
  border-bottom-color: $text-color;
  transition: all 0.5s ease-in;
  font-size: 12px;
}

input[type="submit"] {
  background: $rsvp-background;
  border-color: $rsvp-background;
  color: $prime;
  text-align: center;
  border-color: $text-color;
  font-weight: bolder;
  font-size: 1em;
  font-family: "Kaushan Script", cursive;
}

input[type="text"]:focus {
  outline: none;
  border-bottom-color: $prime;
  transition: all 0.5s ease-in;
}

input[type="text"]:focus + .sibling {
  color: $prime;
}

input[type="text"]:active {
  outline: none;
  border-bottom-color: $prime;
  transition: all 0.5s ease-in;
}
@media screen and (max-width: 414px) {
  .image-rsvp {
    background-position: 28%;
  }
}

@media only screen and (max-device-width: 1024px) and (min-device-width: 320px) {
  .parallax.image-rsvp {
    background-attachment: unset !important;
    background-position: center top !important;
    height: 45vh;
  }
}
