.story {
  padding-top: 3%;
  color: white;
  opacity: 0;
  animation: grow 3s forwards;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; }
  .story h1 {
    font-size: 40px; }
  .story .hashtag h1 {
    font-family: "Raleway"; }
  .story .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 10%; }
    .story .container h1 {
      width: 100%;
      text-align: center; }
    .story .container .distance {
      width: 28%;
      display: flex;
      justify-content: center;
      align-items: center;
      background: green;
      height: 100px;
      border-left: blue 10px solid;
      border-right: blue 10px solid;
      margin: 0 1%; }
    .story .container p {
      width: 30%;
      font-size: 15px; }
  .story img {
    width: 28%;
    border: 5px solid black; }
  .story .timer {
    text-align: center; }

.container.hashtag {
  flex-direction: column; }

@media screen and (max-width: 1024px) {
  .story .container p {
    font-size: 12px; } }

@media screen and (max-width: 450px) {
  .story {
    padding-top: 10%; }
  .container.story {
    flex-direction: column; }
    .container.story img {
      width: 60%; }
    .container.story .distance {
      margin-top: 5%; }
    .container.story p {
      width: 90%;
      margin: 5%; }
  .container.hashtag p {
    width: 85%; } }

@keyframes grow {
  100% {
    opacity: 1; } }
