@import "colors.scss";

.story {
  padding-top: 3%;
  color: $text-color;
  opacity: 0;
  animation: grow 3s forwards;
  h1 {
    font-size: 40px;
  }
  .hashtag h1 {
    font-family: "Raleway";
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10%;
    p {
      width: 75%;
    }
  }
  img {
    width: 24%;
  }
  .timer {
    text-align: center;
  }
}

@media screen and (max-width: 450px) {
  .story {
    padding-top: 10%;
  }
}

@keyframes grow {
  100% {
    opacity: 1;
  }
}
