@import "colors.scss";

.story {
  padding-top: 3%;
  color: $text-color;
  opacity: 0;
  animation: grow 3s forwards;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  h1 {
    font-size: 40px;
  }
  .hashtag h1 {
    font-family: "Raleway";
  }
  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 10%;
    h1 {
      width: 100%;
      text-align: center;
    }
    .distance {
      width: 20%;
      display: -ms-flexbox;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 60vh;
      border-left: black 3px solid;
      border-right: black 3px solid;
      margin: 0 1%;
    }
    p {
      width: 30%;
      font-size: 15px;
    }
  }
  img {
    width: 28%;
    border: 5px solid black;
    filter: grayscale(100%);
  }
  .timer {
    text-align: center;
  }
}

.container.hashtag {
  flex-direction: column;
}
@media screen and (max-width: 1024px) {
  .story .container p {
    font-size: 12px;
  }
}
@media screen and (max-width: 450px) {
  .story {
    padding-top: 10%;
  }
  .container.story {
    flex-direction: column;
    img {
      width: 60%;
    }
    .distance {
      margin-top: 5%;
    }
    p {
      width: 90%;
      margin: 5%;
    }
  }
  .container.hashtag p {
    width: 85%;
  }
}

@keyframes grow {
  100% {
    opacity: 1;
  }
}
