@import "colors.scss";
.story {
  position: absolute;
  top: 50px;
  padding: 3%;
}

.story h1,
hashtag-story h1 {
  font-size: 60px;
  color: $text-color;
}

.story p,
hashtag-story p {
  display: block;
  width: 60%;
  background: $rsvp-background;
  color: $text-color;
  font-family: "Raleway";
  margin: 0;
}

img {
  width: 25%;
}

.image-one {
  float: right;
}

.image-two {
  float: left;
}

.story .timer {
  color: $text-color;
  font-size: 40px;
}
