body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* Navigation */
nav {
  z-index: 1000;
  /* background: black; */
  list-style-type: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
  font-family: "Raleway", sans-serif;
  position: fixed;
  width: 100%;
  height: 100px;
  animation: 1s fadein 1s forwards;
}

.jumbotron {
  position: fixed;
  top: 0.05%;
  /* padding: 0 25vw;
  width: 50vw; */
  background: black;
  transition: all ease 1s;
}

nav.hi {
  opacity: 1;
}
#navbar {
  position: fixed;
}
.hi,
.bye {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hi li,
.bye li {
  margin: 0 20px;
}

.hi li a,
.bye li a {
  color: black;
  text-decoration: none;
}

.inactive.jumbotron {
  z-index: -1;
  opacity: 0;
}

nav.bye {
  opacity: 0;
}

.active.jumbotron {
  z-index: 10;
  opacity: 1;
}
